* {
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;


}

div {
  border: 1px solid black;
}



.flex-container {
  height: 100%;
  width: 100%;
  display: flex;

  margin: 3px;
}

header {
  align-items: center;
  display: flex;
}

main {
  flex-grow: 1;
  display: flex;

}





.id1 {
  background-color: skyblue;
}

.container-1 {
  background-color: wheat;
  height: 150px;

  margin: 5px;
}

.container-2 {
  background-color: greenyellow;
  margin: 5px;


}


.container-3 {

  margin: 30px;
  flex-direction: row;
  background-color: hotpink;
  width: 500px;
  height: 470px;

}

.container-3>div {
  width: 100%;
}


/* sticky */
.sticky {
  background-color: black;
  color: white;
  padding: 100px 20px 30px;

  position: sticky;
  /* 화면을 벗어나면 어디에 붙을지
     위치를 지정해야한다 */
  top: -70px;
  z-index: 100;
}